<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4><a class="footerLogo" href="{{ path('homepage') }}">Valdemar&iacute;n &amp; Asociados</a></h4>
                <p>Nuestra lealtad absoluta con nuestros clientes es nuestro punto de inicio. A partir de ahí todos y cada uno de nuestros integrantes se esfuerzan para exceder las expectativa de nuestros clientes y obtener los resultados que nos demandan.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Contacto</h4>
                <ul class="contactList">
                    <li><img class="icon" src="{{ asset('img/icons/icon-pin.png') }}" alt="" /> Alsina 546 - R&iacute;o Tercero - Pcia. de C&oacute;rdoba, Argentina</li>
                    <li><img class="icon" src="{{ asset('img/icons/icon-phone.png') }}" alt="" /> +54 03571 643203</li>
                    <li><img class="icon" src="{{ asset('img/icons/icon-mail.png') }}" alt="" /> info@valdemarinasociados.com.ar</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Administraci&oacute;n de Propiedades</h4>
                <p>Gesti&oacute;n integral de compra venta de inmuebles, gesti&oacute;n integral de alquiler de inmuebles, administraci&oacute;n, subastas, etc.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Estudio Jur&iacute;dico</h4>
                <p>Declaratorias de herederos, sucesiones, usucupaciones, laborales, contratos, familia, divorcios, asistencia integral.</p>
            </div>
        </div><!-- end row -->
    </div><!-- end footer container -->
</footer>

<div class="bottomBar">
    <div class="container">
        <p>Valdemar&iacute;n &amp; Asociados &copy; {{ "now"|date("Y") }}</p>
        <ul class="socialIcons">
            <li><a href="https://www.facebook.com/valdemarin.asociados" target="_blank"><img src="{{ asset('img/icons/icon-fb.png') }}" alt="Facebook" /></a></li>
            <!--<li><a href="#"><img src="{#{ asset('img/icons/icon-twitter.png') }#}" alt="Twitter" /></a></li>
            <li><a href="#"><img src="{#{ asset('img/icons/icon-google.png') }#}" alt="Google Plus" /></a></li>
            <li><a href="#"><img src="{#{ asset('img/icons/icon-rss.png') }#}" alt="RSS" /></a></li>-->
        </ul>
    </div>
</div>
