<!-- Start Header -->
<header class="navbar yamm navbar-default navbar-fixed-top">
	<div class="topBar">
	    <div class="container">
	        <p class="topBarText"><img class="icon" src="{{ asset('img/icons/icon-phone.png') }}" alt="" />+54 03571 423379 - +54 03571 427178</p>
	        <p class="topBarText"><img class="icon" src="{{ asset('img/icons/icon-mail.png') }}" alt="" />info@valdemarinasociados.com.ar</p>
	        <ul class="socialIcons">
	            <li><a href="#"><img src="{{ asset('img/icons/icon-fb.png') }}" alt="Facebook" /></a></li>
	            <li><a href="#"><img src="{{ asset('img/icons/icon-twitter.png') }}" alt="Twitter" /></a></li>
	            <li><a href="#"><img src="{{ asset('img/icons/icon-google.png') }}" alt="Google-plus" /></a></li>
	            <li><a href="#"><img src="{{ asset('img/icons/icon-rss.png') }}" alt="rss" /></a></li>
	        </ul>
	    </div>
	</div>
	<div class="container">
	   	<div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="{{ path('homepage') }}">
	        	<img src="{{ asset('img/logo-horizontal.png') }}" height="36" alt="Valdemarin &amp; Asociados" />
	        </a>
	    </div>
	    <div class="navbar-collapse collapse">
	    	{% set route = app.request.get('_route') %}
	        <ul class="nav navbar-nav">
	            {% set home_class = (route == 'homepage')? 'current' : '' %}
	            <li class="dropdown">
	                <a href="{{ path('homepage') }}" class="{{ home_class }}">HOME</a>
	            </li>
	            <li class="dropdown menu-item-has-children">
	                <a href="javascript:void(0)">LISTAR</a>
	                <ul class="dropdown-menu">
	                    <li><a href="{{ path('listing_building') }}">Inmuebles</a></li>
	                    <li><a href="{{ path('listing_auction') }}">SUBASTAS</a></li>
                    </ul>
	            </li>
	            {% set contact_class = (route == 'contact' or route == 'make_request' or route == 'get_info' or route == 'offer_property')? 'current' : '' %}
	            <li class="dropdown menu-item-has-children">
	                <a href="{{ path('contact') }}" class="{{ contact_class }}">CONTACTO</a>
	                <ul class="dropdown-menu">
	                    <li><a href="{{ path('contact') }}">Cont&aacute;ctenos</a></li>
	                    <li><a href="{{ path('get_info') }}">Quiero Recibir Informaci&oacute;n</a></li>
	                    <li><a href="{{ path('make_request') }}">Haga Su Pedido</a></li>
	                    <li><a href="{{ path('offer_property') }}">Ofrezca Su Propiedad</a></li>
                    </ul>
	            </li>
	            {% set about_class = (route == 'legal_advice' or route == 'our_services' or route == 'who_we_are')? 'current' : '' %}
	            <li class="dropdown menu-item-has-children">
	                <a href="{{ path('legal_advice') }}" class="{{ about_class }}">ACERCA DE NOSOTROS</a>
	                <ul class="dropdown-menu">
	                    <li><a href="{{ path('legal_advice') }}">Estudio Ju&iacute;dico</a></li>
	                    <li><a href="{{ path('our_services') }}">Nuestros Servicios</a></li>
	                    <li><a href="{{ path('who_we_are') }}">Qui&eacute;nes Somos?</a></li>
                    </ul>
	            </li>
	        </ul>
	    </div><!--/.navbar-collapse -->
	</div><!-- end header container -->
</header><!-- End Header -->
