{% extends 'base.html.twig' %}

{% block body %}

	<!-- start subheader -->
	<section class="subHeader page">
	    <div class="container">
	    	<h1>{{ title|raw }}</h1>
	    </div><!-- end subheader container -->
	</section><!-- end subheader section -->

	<!-- start main content -->
	<section class="properties">
	    <div class="container">
	        <div class="row">

	            <!-- start left column -->
	            <div class="col-lg-4 col-md-4">
	                <div class="txtC mbl"><img src="{{ asset('img/logo-horizontal.png') }}" alt="Valdemarin logo"></div>
	                <p>{{ intro }}</p>
					<br/>
	            </div><!-- end left column -->

	            <!-- start contact form -->
	            <div class="col-lg-8 col-md-8">
	                <div class="row">
	                    <div class="col-lg-12 col-md-12">
	                        <h3 class="txtUpper">{{ title|raw }}</h3>
	                        <div class="divider"></div>
	                        <ul class="contactDetails">
	                            <li><img src="{{ asset('img/icons/icon-mail.png') }}" alt="" />info@valdemarinasociados.com.ar</li>
	                            <li><img src="{{ asset('img/icons/icon-phone.png') }}" alt="" />+54 03571 423379 - +54 03571 427178</li>
	                            <li><img src="{{ asset('img/icons/icon-pin.png') }}" alt="" />Lavalle 120 - Río Tercero - Pcia. de Córdoba, Argentina</li>
	                        </ul>

	                        <!-- Flash message -->
	                        {{ include('default/flash_message.html.twig') }}

	                        <form method="post" action="{{ path(form_action) }}" id="contact-us" novalidate>
	                            <div class="row">
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.name.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.name) }}
        									{{ form_widget(form.name) }}
        									{{ form_errors(form.name) }}
	                                    </div>
	                                </div>
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.email.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.email) }}
        									{{ form_widget(form.email) }}
        									{{ form_errors(form.email) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.phone.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.phone) }}
        									{{ form_widget(form.phone) }}
        									{{ form_errors(form.phone) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-12">
	                                    <div class="formBlock {% if not form.message.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.message) }}
        									{{ form_widget(form.message) }}
        									{{ form_errors(form.message) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-3 col-lg-offset-9 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
	                                    <div class="formBlock">
	                                        {{ form_widget(form._token) }}
	                                        <input class="buttonColor" type="submit" value="Enviar" />
	                                    </div>
	                                </div>
	                            </div><!-- end row -->
	                        </form><!-- end form -->
	                        <?php } ?>
	                    </div><!-- col -->
	                </div><!-- end row -->
	            </div><!-- end contact form -->

	        </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end main content -->

{% endblock %}
