{% extends 'base.html.twig' %}

{% block body %}

	<!-- start subheader -->
	<section class="subHeader page">
	    <div class="container">
	    	<h1>Quiero Recibir Informaci&oacute;n</h1>
	    </div><!-- end subheader container -->
	</section><!-- end subheader section -->

	<!-- start main content -->
	<section class="properties">
	    <div class="container">
	        <div class="row">

	            <!-- start left column -->
	            <div class="col-lg-4 col-md-4">
	                <div class="txtC mbl"><img src="{{ asset('img/logo-horizontal.png') }}" alt="Valdemarin logo"></div>
	                <p>Si desea recibir informaci&oacute;n, ya sea de subastas o inmuebles, por favor complete el formulario y en la brevedad nos pondremos en contacto con usted.</p>
					<br/>
					<h3>Horario de atenci&oacute;n</h3>
					<ul>
						<li>Lunes a Viernes de 08 a 12 hs y 18 a 20 hs.</li>
						<li>Sabado de 09 a 12 hs.</li>
					</ul>
	            </div><!-- end left column -->

	            <!-- start contact form -->
	            <div class="col-lg-8 col-md-8">
	                <div class="row">
	                    <div class="col-lg-12 col-md-12">
	                        <h3 class="txtUpper">Quiero Recibir Informacion</h3>
	                        <div class="divider"></div>
	                        {{ include('default/contact_detail.html.twig') }}

	                        <!-- Flash message -->
	                        {{ include('default/flash_message.html.twig') }}

	                        <form method="post" action="{{ path('get_info') }}" id="get-info" novalidate>
	                            <div class="row">
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.name.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.name) }}
        									{{ form_widget(form.name) }}
        									{{ form_errors(form.name) }}
	                                    </div>
	                                </div>
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.email.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.email) }}
        									{{ form_widget(form.email) }}
        									{{ form_errors(form.email) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.phone.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.phone) }}
        									{{ form_widget(form.phone) }}
        									{{ form_errors(form.phone) }}
	                                    </div>
	                                </div>
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <div class="formBlock {% if not form.locality.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.locality) }}
        									{{ form_widget(form.locality) }}
        									{{ form_errors(form.locality) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-12">
	                                    <div class="formBlock {% if not form.interest.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.interest) }}
        									<div id="get_info_interest" class="pbl">
    											<label for="get_info_interest_0">Subastas</label>
    											<input class="w25" type="checkbox" id="get_info_interest_0" name="get_info[interest][]" value="subastas">
												<label for="get_info_interest_1">Inmuebles</label>
    											<input class="w25" type="checkbox" id="get_info_interest_1" name="get_info[interest][]" value="inmuebles">
    										</div>
        									{{ form_errors(form.interest) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-12">
	                                    <div class="formBlock {% if not form.message.vars.valid %}has-error{% endif %}">
	                                        {{ form_label(form.message) }}
        									{{ form_widget(form.message) }}
        									{{ form_errors(form.message) }}
	                                    </div>
	                                </div>
                                </div>
                                <div class="row">
	                                <div class="col-lg-3 col-lg-offset-9 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
	                                    <div class="formBlock">
	                                        {{ form_widget(form._token) }}
	                                        <input class="buttonColor" type="submit" value="Enviar" />
	                                    </div>
	                                </div>
	                            </div><!-- end row -->
	                        </form><!-- end form -->
	                        <?php } ?>
	                    </div><!-- col -->
	                </div><!-- end row -->
	            </div><!-- end contact form -->

	        </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end main content -->

{% endblock %}
