{% extends 'base.html.twig' %}

{% block body %}
    <section class="sliderControls">
	    <div>
	        <span class="slider-prev"></span>
	        <span class="slider-next"></span>
	    </div>
	</section>

	<!-- Slider -->
	<section class="subHeader home bxslider">
	    <div id="slide1">
	        <div class="container">
	            <div class="col-lg-6">
	                <h1><span>Inmobiliaria</span></h1>
	                <div class="sliderTextBox">
		                <p>Gesti&oacute;n integral de compra venta de inmuebles. Como as&iacute; tambien alquiler de inmuebles.</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div id="slide2">
	        <div class="container">
	            <div class="col-lg-6">
	                <h1><span>Subastas</span></h1>
	                <div class="sliderTextBox">
		                <p>Subastas p&uacute;blicas, judiciales, tasaciones. Loteo y publicidad.</p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div id="slide3">
	        <div class="container">
	            <div class="col-lg-6">
	                <h1><span>Estudio Jur&iacute;dico</span></h1>
	                <div class="sliderTextBox">
		                <p>Declaratorias de herederos, sucesiones, usucupaciones, laborales, contratos, familia, divorcios, asistencia integral.</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<!-- END Slider -->

	<!-- start horizontal filter -->
	<section class="filter">
	    <div class="container">
	        <div class="filterHeader">
	            <ul class="filterNav tabs">
	                <li><a class="current triangle" href="#tab1">Inmuebles</a></li>
	                <li><a href="#tab2">Subastas</a></li>
	            </ul>
	        </div>
	        <div class="filterContent defaultTab" id="tab1">
	            <form method="post" action="{{ path('building_search') }}" novalidate>
	                <div class="row">
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock select">
	                        	<label for="propertyType">Tipo de Propiedad</label><br/>
	                            {{ form_errors(buildingSearcherForm.propertyType) }}
        						{{ form_widget(buildingSearcherForm.propertyType, {'attr': {'class': 'formDropdown'}}) }}
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock select">
		                        <label for="location">Ubicaci&oacute;n</label><br/>
		                        {{ form_errors(buildingSearcherForm.location) }}
        						{{ form_widget(buildingSearcherForm.location, {'attr': {'class': 'formDropdown'}}) }}
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock">
	                            <label for="price-min">Rango de Precio</label><br/>
	                            <div style="float:right; margin-top:-25px;">
	                                <div class="priceInput">
	                                	{{ form_widget(buildingSearcherForm.price_min, {'attr': {'class': 'priceInput'}}) }}
	                                </div>
	                                <span style="float:left; margin-right:10px; margin-left:10px;">-</span>
	                                <div class="priceInput">
	                                	{{ form_widget(buildingSearcherForm.price_max, {'attr': {'class': 'priceInput'}}) }}
	                                </div>
	                            </div><br/>
	                            <div class="priceSlider"></div>
	                            <div class="priceSliderLabel"><span>0</span><span style="float:right;">2.000.000</span></div>
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock select">
		                        <label for="operationType">Tipo de Operaci&oacute;n</label><br/>
		                        {{ form_errors(buildingSearcherForm.operationType) }}
        						{{ form_widget(buildingSearcherForm.operationType, {'attr': {'class': 'formDropdown'}}) }}
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock select">
	                        	<label for="surface">Superficie (mts2)</label><br/>
	                        	{{ form_errors(buildingSearcherForm.surfaceM2) }}
        						{{ form_widget(buildingSearcherForm.surfaceM2, {'attr': {'class': 'formDropdown'}}) }}
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock">
	                            <input class="buttonColor" type="submit" value="BUSCAR" style="margin-top:24px;">
	                        </div>
	                    </div>
	                    <div style="clear:both;"></div>
	                </div>
	            </form>
	        </div><!-- END TAB1 -->
	        <div class="filterContent defaultTab" id="tab2">
	            <form method="post" action="{{ path('auction_search') }}" novalidate id="auction-searcher-form">
	                <div class="row">
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock select">
	                        	<label for="propertyType">Estado</label><br/>
	                            {{ form_errors(auctionSearcherForm.status) }}
        						{{ form_widget(auctionSearcherForm.status, {'attr': {'class': 'formDropdown'}}) }}
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock select">
		                        <label for="location">Localidad</label><br/>
		                        {{ form_errors(auctionSearcherForm.location) }}
        						{{ form_widget(auctionSearcherForm.location, {'attr': {'class': 'formDropdown'}}) }}
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-6">
	                        <div class="formBlock">
	                            <input id="auction-search" class="buttonColor disabled" type="submit" value="BUSCAR" style="margin-top:24px;" disabled="disabled">
	                        </div>
	                    </div>
	                    <div style="clear:both;"></div>
	                </div>
	            </form>
	        </div><!-- END TAB2 -->
	    </div><!-- END CONTAINER -->
	</section>
	<!-- end horizontal filter -->

	<!-- start big message -->
	<section class="bigMessage">
	    <div class="container">
	        <h1>Valdemar&iacute;n &amp; Asociados</h1><br/>
	        <p>Gestión integral de compra venta de inmuebles, gestión integral de alquiler de inmuebles, administración, subastas, etc. Declaratorias de herederos, sucesiones, usucupaciones, laborales, contratos, familia, divorcios, asistencia integral.</p>
	    </div>
	</section>
	<!-- end big message -->

	<!-- start recent properties -->
	<section class="properties">
	    <div class="container">
	        <h3>Propiedades Destacadas</h3>
	        <div class="divider"></div>
	        <div class="row">
	            {% if featured|length > 0 %}
		            {% set break = 0 %}
		            {% for building in featured if break == 0 %}
			            <div class="col-lg-3 col-md-3 col-sm-6">
			                <div class="propertyItem">
			                    <div class="propertyContent">
			                        <span class="propertyType">{{ building.propertyType }}</span>
			                        <a href="{{ path('view_building', {'slug': building.slug}) }}" class="propertyImgLink">
			                        	{% if building.images|first|length %}
			                        		<img class="propertyImg" src="{{ building.images|first }}" alt="" />
		                        		{% else %}
			                        		<img class="propertyImg" src="img/768x507.gif" alt="" />
		                        		{% endif %}
			                        </a>
			                        <h4><a href="{{ path('view_building', {'slug': building.slug}) }}">{{ building.address }}</a></h4>
			                        <p>{{ building.location }}</p>
			                        <div class="divider thin"></div>
			                        <p class="forSale">{{ building.operationType }}</p>
			                        <p class="price">${{ building.price|number_format(0, ',', '.') }}</p>
			                    </div>
			                    <table border="1" class="propertyDetails">
			                        <tr>
				                        <td>
				                        	<img src="img/icons/icon-area.png" alt="" style="margin-right:7px;" />
				                        	{{ building.frontMts|number_format(0, ',', '.') }}m
				                        </td>
				                        <td>
				                        	<img src="img/icons/icon-area.png" alt="" style="margin-right:7px;" />
				                        	{{ building.backMts|number_format(0, ',', '.') }}m
				                        </td>
			                        </tr>
			                    </table>
			                </div>
			            </div>
			            {% if loop.index == 4 %}
			            	{% set break = 1 %}
		            	{% endif %}
		            {% endfor %}
	            {% else %}
		            <div class="col-lg-12 col-md-12 col-sm-12">
		            	<p>No exiten propiedades destacadas.</p>
		            </div>
	            {% endif %}
	        </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end recent properties -->

	<!-- Contact CTA -->
	{{ include('default/contact_cta.html.twig') }}

{% endblock %}
