{% extends 'base.html.twig' %}

{% block body %}

	<!-- start subheader -->
	<section class="subHeader page">
	    <div class="container">
	    	<h1>Inmueble {{ building.reference }}</h1>
	    </div><!-- end subheader container -->
	</section><!-- end subheader section -->

	<!-- start main content section -->
	<section class="properties">
	    <div class="container">

	        <div class="row">
	            <!-- start content -->
	            <div class="col-lg-9 col-md-9">
	                <!-- start gallery -->
	                {% if building.images|length > 0 %}
		                <div class="gallery">
		                    <ul class="bxslider2">
		                      	{% for image in building.images %}
		                      		<li><img src="{{ asset(image) }}" alt="Inmueble" /></li>
	                      		{% endfor %}
		                    </ul>

		                    <div id="bx-pager">
		                      	{% for image in building.images %}
		                      		<a class="thumbnail" data-slide-index="{{ loop.index0 }}" href="">
		                      			<img src="{{ asset(image) }}" alt="Inmueble" />
		                      		</a>
	                      		{% endfor %}
		                    </div>
		                    <div class="sliderControls">
		                        <span class="slider-prev"></span>
		                        <span class="slider-next"></span>
		                    </div>
		                </div>
	                {% endif %}
	                <!-- end gallery -->

	                <div class="row">

	                    <div class="col-lg-4">
	                        <div class="overview">
	                        <h4>DATOS</h4>
	                        <ul class="overviewList">
	                            <li>Tipo Propiedad <span>{{ building.propertyType }}</span></li>
	                            <li>Tipo Operaci&oacute;n <span>{{ building.operationType|capitalize }}</span></li>
	                            <li>Localidad <span>{{ building.location }}</span></li>
	                            <li>Frente (mts) <span>{{ building.frontMts }}</span></li>
	                            <li>Fondo (mts) <span>{{ building.backMts }}</span></li>
	                            <li>Superficie (mts2) <span>{{ building.surfaceM2 }}</span></li>
	                            <li>Sup. Cubierta (mts2) <span>{{ building.coveredSurface }}</span></li>
	                            <li>Sup. Semicubierta (mts2) <span>{{ building.semicoveredSurface }}</span></li>
	                        </ul>
	                        </div>
	                        <!-- Map -->
	                        {% set lat = (building.latitude is not null)? building.latitude : -32.16956899 %}
                        	{% set long = (building.longitude is not null)? building.longitude : -64.11639129 %}
	                        <div id="map-canvas-one-pin" class="mapSmall" data-lat="{{ lat }}" data-long="{{ long }}"></div>
	                    </div>

	                    <div class="col-lg-8">
	                        <p class="price" style="float:right;">${{ building.price|number_format(0, ',', '.') }}</p>
	                        <p class="forSale" style="float:right; margin-right:20px;">{{ building.operationType|upper }}</p>
	                        <h1>Inmueble {{ building.reference }}</h1>
	                        <p>{{ building.address }}, {{ building.location }}</p>
	                        <p>{{ building.description|raw }}</p><br/>

	                        <h4>DETALLE</h4>
	                        <div class="divider thin"></div>
	                        <p>{{ building.detail|raw }}</p><br/>

	                        <h4>SERVICIOS</h4>
	                        <div class="divider thin"></div>
	                        <p>{{ building.services|raw }}</p><br/>

	                        <table border="1" class="agentDetails">
                            	<tr>
                            		<td>
                            			Compartir:
                            			<ul class="socialIcons">
                                			<li class="first">
                                				<a href="https://www.facebook.com/dialog/share?app_id={{ facebook_app_id }}&display=popup&href={{ url('view_building', {'slug': building.slug}) }}&redirect_uri={{ url('view_building', {'slug': building.slug}) }}" target="_blank">
                                					<img src="{{ asset('img/icons/icon-fb.png') }}" alt="" />
                                				</a>
                                			</li>
                                			<li>
                                				<a href="https://twitter.com/share" target="_blank">
                                					<img src="{{ asset('img/icons/icon-twitter.png') }}" alt="" />
                                				</a>
                                			</li>
                                			<!--<li><a href="#"><img src="{{ asset('img/icons/icon-google.png') }}" alt="" /></a></li>-->
                            			</ul>
                            		</td>
                            	</tr>
                        	</table>

	                    </div><!-- end col -->
	                </div><!-- end row -->

	            </div><!-- end content -->

	            <!-- start sidebar -->
	            <div class="col-lg-3 col-md-3">
	                {{ include('search/form_sidebar.html.twig', {'form_route': form_route, 'form': form}) }}
	            </div><!-- end col -->
	        </div><!-- end row -->

	    </div><!-- end container -->
	</section>
	<!-- end main content -->

	<!-- Contact CTA -->
	{{ include('default/contact_cta.html.twig') }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{ asset('js/map-one-pin.js') }}"></script>

{% endblock %}
